
*.o             # Объектные файлы
*.exe           # Исполняемые файлы Windows
*.out           # Исполняемые файлы Unix
*.dll           # Библиотеки DLL


moc_*.cpp
*.moc

.DS_Store       # Служебный файл macOS